.div {
	text-align: center;
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-areas:
		"topbar topbar"
		"buttons skip"
		"question question"
		"gameL gameR"
		"footer footer";

	grid-template-columns: 3fr 3fr;

	grid-template-rows: 70px auto auto auto 70px;

	align-items: center;
	justify-items: center;

	min-height: 100vh;
}

.gameL {
	grid-area: gameL;
	width: 96%;
	height: 96%;
	align-items: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin: 2%;
}

.gameR {
	grid-area: gameR;
	width: 96%;
	height: 96%;
	align-items: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin: 2%;
}

.question {
	grid-area: question;
}

.gameL:active {
	transform: scale(0.98);
}

.gameR:active {
	transform: scale(0.98);
}

.buttons {
	grid-area: buttons;
	display: flex;
	justify-content: right;
	flex-direction: column;
	justify-self: right;
}

.button {
	display: flex;
	grid-area: 2 / 1 / span 1 / span 2;
	justify-content: center;
	flex-direction: column;
	justify-self: center;
}

.skip {
	grid-area: skip;
	justify-self: left;
	margin: 10px;
	width: 25ch;
	height: 40px;
	box-sizing: border-box;
	align-self: center;
	border: 1px;
	border-radius: 2px;
	border-color: black;
	padding: 3px 7px;
	color: aliceblue;
	background-color: hsl(12, 95%, 47%);
	cursor: pointer;
	font-size: auto;
}

.skip:focus {
	background-color: hsl(12, 95%, 60%);
}

.skip:active {
	transform: scale(0.98);
}

.footer {
	grid-area: footer;
	background-color: green;
	width: 100%;
	height: 100%;
}
